[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/samolasia
[access "refs/for/refs/*"]
	read = group user/samolasia
	push = group user/samolasia
	label-Code-Review = -2..+2 group user/samolasia
	label-Verified = -1..+1 group user/samolasia
	rebase = group user/samolasia
	removeReviewer = group user/samolasia
	submit = group user/samolasia
[access "refs/heads/*"]
	read = group user/samolasia
	create = group user/samolasia
	push = +force group user/samolasia
	pushMerge = group user/samolasia
[access "refs/tags/*"]
	push = +force group user/samolasia
	pushTag = group user/samolasia
	pushSignedTag = group user/samolasia
